
@media screen and (max-width: 640px) {
  
    .container {
      width: 600px;
      padding: 20px;
      margin: 0 auto;
    }
    nav {
      position: static;
      width: auto;
      margin:auto;
      text-align: center;
    }
    h1 {
      width: 100%;
      
    }
    ul {
        text-align: center;
